.navbar-brand {
    font-size: 20px;    
}
.navbar-link {
    font-size: 16px;
    font-family: helvetica;
}
.btn.btn-default.btn-lg {
    width: 80%;
    height: 130px;
    font-size: 21px;
    font-weight: normal;
    align-items: center;
    margin-bottom: 7px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    border-color: #adadad;
}
.button-label {
    padding-top: 35px;
}
.btn-first {
    color: #fff;
    background-color: #5bc0de;
}
.btn-first:hover {
    color: #fff;
    background-color: #31b0d5;
}
.btn-second {
    color: #fff;
    background-color: #fc9c14;
}
.btn-second:hover {
    color: #fff;
    background-color: #ef9009;
}
.btn-third {
    color: #fff;
    background-color: #5cb85c;
}
.btn-third:hover {
    color: #fff;
    background-color: #419641;
}
.btn-table {
    padding: 3px 8px;
    font-size: 12px;
}
.table-hover > tbody > tr:hover {
  background-color: #ededed;
}
.buttons-panel {
    margin-top: 20px;
}
.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 45px;
    text-align: left;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 30px;
    padding-left: 30px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 56px;
  }
}