{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(class_="form-control", type="text", **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

  </head>
  <body>
    {% include "navigation_3_items.html" %}

    <div class="container">
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        
        <form class="form-horizontal" method="POST" action="">
        <dl>
          <div class="form-group">
            <div class="col-xs-10">
            {{ render_field(form.en_meaning) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-10">
            {{ render_field(form.ru_meaning) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-10">
            {{ render_field(form.example) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-10">
            {{ render_field(form.extra_info) }}
            </div>
          </div>
          </dl>
          <div class="form-group">
            <div class="col-xs-10 buttons-panel">
              <a class="btn btn-default" href="{{ url_for('all_cards') }}">Отмена</a>
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
          </div>
        </form> 
    </div> 


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>